<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">My Favorite Books</a></li>
        <li><a href="/search">GOOGLE BOOKS</a></li>
    </ul>
   <main>

       <h1>Search Results</h1>

       <img src="<%=books.image_url%>">
       <h2><%=books.title%></h2>
       <h3><%=books.author%></h3>
       <h6><%=books.isbn%></h6>
       <p><%=books.description%></p>
         
       



   </main> 
</body>
</html>